<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>
        <%= name %>
    </h1>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>URL</th>
                <th>Description</th>
                <th>Method</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<routes.length;i++) {%>
                <tr>
                    <td>
                        <%= i %>
                    </td>
                    <td><a href="<%= routes[i].url %>">
                            <%= routes[i].url %>
                        </a></td>
                    <td>
                        <%= routes[i].description %>
                    </td>
                    <td>
                        <%= routes[i].method %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>